 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-size: 2.25rem;
  margin: 438px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 449px;
}

.u-section-2 .u-audio-1 {
  width: 455px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 28px 0 60px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-audio-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 448px;
}

.u-section-3 .u-audio-1 {
  width: 455px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 auto 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-audio-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 448px;
}

.u-section-4 .u-audio-1 {
  width: 455px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 auto 60px 0;
}

@media (max-width: 575px) {
  .u-section-4 .u-audio-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 448px;
}

.u-section-5 .u-audio-1 {
  width: 455px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 auto 60px;
}

@media (max-width: 575px) {
  .u-section-5 .u-audio-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 448px;
}

.u-section-6 .u-audio-1 {
  width: 455px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 0 60px auto;
}

@media (max-width: 575px) {
  .u-section-6 .u-audio-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 448px;
}

.u-section-7 .u-audio-1 {
  width: 455px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 auto 60px;
}

@media (max-width: 575px) {
  .u-section-7 .u-audio-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 448px;
}

.u-section-8 .u-audio-1 {
  width: 455px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 auto 60px 0;
}

@media (max-width: 575px) {
  .u-section-8 .u-audio-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 448px;
}

.u-section-9 .u-audio-1 {
  width: 481px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 316px 60px auto;
}

@media (max-width: 991px) {
  .u-section-9 .u-audio-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-audio-1 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 448px;
}

.u-section-10 .u-audio-1 {
  width: 445px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 0 60px auto;
}

@media (max-width: 575px) {
  .u-section-10 .u-audio-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 448px;
}

.u-section-11 .u-audio-1 {
  width: 455px;
  height: 101px;
  background-image: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Courier New", monospace;
  font-size: 1.1875rem;
  margin: 0 auto 60px;
}

@media (max-width: 575px) {
  .u-section-11 .u-audio-1 {
    width: 340px;
  }
} .u-section-12 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-12 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-12 .u-text-1 {
  letter-spacing: 4px;
  font-size: 2.25rem;
  margin: 438px 570px 0 0;
}

.u-section-12 .u-btn-1 {
  font-size: 2.25rem;
  padding: 0;
}

.u-section-12 .u-text-2 {
  letter-spacing: 4px;
  margin: -40px 0 0 570px;
}

.u-section-12 .u-btn-2 {
  font-size: 2.25rem;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-bottom: 60px;
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 170px;
  }

  .u-section-12 .u-text-2 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-12 .u-btn-1 {
    font-size: 2.25rem;
  }

  .u-section-12 .u-text-2 {
    margin-top: 90px;
    margin-left: 0;
  }

  .u-section-12 .u-btn-2 {
    font-size: 2.25rem;
  }
}@font-face {
  font-family: 'NeueHaasDisplayBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NeueHaasDisplayBold.ttf);
}@font-face {
  font-family: 'NeueHaasDisplayMediu';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NeueHaasDisplayMediu.ttf);
}@font-face {
  font-family: 'NeueHaasDisplayRoman';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NeueHaasDisplayRoman.ttf);
}